.button-brand {
  cursor: pointer;  
  font-size: 13px;
  padding: 10px 20px;
  text-transform: uppercase;

  i {
    text-align: middle;
    width: 20px;
  }
}

.button-blue {  
  background-color: lighten($blue, 30%);
  border: solid 2px $blue;  
}
