.button-brand {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 13px;

  i {
    width: 20px;
    text-align: middle;
  }
}

.button-blue {
	border: solid 2px $blue;
	background-color: lighten($blue, 30%);
}
