$dark-gray: #333;
$blue: #0f70bf;
$dark-blue: #1a1d47;
$green: #3fe815;
$purple: #b05de8;
$yellow: #eded05;
$tan: #b09e6b;
$brown: #754c05;
$green: #16a808;

$primary-color: $brown;

$nav-color: $tan;
$footer-color: $tan;

$day-background-color: $blue;
$night-background-color: $dark-blue;
