$dark-gray: #333;
$blue: #0f70bf;
$dark-blue: #1A1D47;
$green: #3fe815;
$yellow: #EDED05;
$tan: #F7C53A;
$brown: #754C05;

$primary-color: $brown;

$nav-color: $tan;
$footer-color: $tan;

$day-background-color: $blue;
$night-background-color: $dark-blue;