$dark-gray: #333;
$blue: #0f70bf;
$dark-blue: #1A1D47;
$green: #3fe815;
$purple: #b05de8;
$yellow: #EDED05;
$tan: #B09E6B;
$brown: #754C05;
$green: #16A808;

$primary-color: $brown;

$nav-color: $tan;
$footer-color: $tan;

$day-background-color: $blue;
$night-background-color: $dark-blue;