body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  //overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.default-page-wrapper {
  max-width: 50em;
  width: 100%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  min-height: 100%;
  position: relative;
}
