body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient($blue, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue, #fff); /* Standard syntax */
}
