<div class="main-home-wrapper default-page-wrapper" ng-show="page('home')">   
  <h1><i class="fa fa-chevron-circle-right"></i>Hello. My name is Stephen.</h1> 
  <h2>I’m an experienced UX/UI Developer with a passion for creating beautiful websites for companies and individuals.</h2>
  <div class="button-wrapper">
    <button class="button-brand button-primary" ng-click="curPage='skills'">see skills</button>
  </div>
</div>

<div class="main-home-wrapper default-page-wrapper" ng-show="page('skills')">
  <div class="work-wrapper">
    <header>
      <h1>Technical Skills</h1>
    </header> 
    <h2>HTML, CSS, Angular.js &amp; jQuery</h2>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Javascript, PHP</li>
      <li><i class="fa-li fa fa-check-square"></i>Sass, Lint, Karma, Gulp</li>
      <li><i class="fa-li fa fa-check-square"></i>Git, Github</li>
      <li><i class="fa-li fa fa-check-square"></i>MySQL, Firebase</li>
      <li><i class="fa-li fa fa-check-square"></i>Balsamiq, Wire-framing, HI-Res Mockup</li>
      <li><i class="fa-li fa fa-check-square"></i>InvisionApp, Photoshop, Illustrator</li>
      <li><i class="fa-li fa fa-check-square"></i>Agile Software Development / Jira</li>
    </ul>
  </div>
  <div class="button-wrapper">
    <button class="button-brand button-primary" ng-click="curPage='vsnap'">see experience</button>
  </div>
</div>

<div class="main-home-wrapper default-page-wrapper" ng-show="page('vsnap')">
  <div class="work-wrapper">
    <header>
      <h1>Vsnap, Inc.</h1>
    </header>
    <div class="vsnap-work-img-div"></div>
    <h2>Junior UX/UI Developer <span>- May 2014 to present</span></h2> 
    <p>Currently I am working on the front-end of Vsnap's app creating pages and user-flows.</p> 
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Angular.js / NPM / Gulp / Karma / Lint / Bower</li>
      <li><i class="fa-li fa fa-check-square"></i>Agile Development - Jira / Slack</li>
      <li><i class="fa-li fa fa-check-square"></i>Test-Driven Development</li>
    </ul>
    <p>My first project was to create Vsnap's 'Board-Game Night App' where visitors can register for events:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Wireframed in Balsamiq
        <i ng-click="loadImage(imageCollection.vsnapMockup)" class="fa fa-eye"></i>
      </li>
      <li><i class="fa-li fa fa-check-square"></i>User tested for UX/UI</li>
      <li><i class="fa-li fa fa-check-square"></i>Designed HI-Res mockups in Photoshop</li>
      <li><i class="fa-li fa fa-check-square"></i>Developed the app using Angular.js</li>
    </ul>
    <p class="side-note">I was also very lucky to have built a life-size Doctor Who TARDIS to be a quiet space for recording vsnaps and to take phone calls.</p>
  </div>
  <div class="button-wrapper">
    <button class="button-brand button-primary" ng-click="curPage='pica'">see more work</button>
  </div>
</div>

<div class="main-home-wrapper default-page-wrapper" ng-show="page('pica')">
  <div class="work-wrapper">
    <header>
      <h1>Pica Manufacturing Solutions</h1>
    </header>
    <div class="pica-work-img-div"></div>
    <h2>Developer &amp; Designer<span>- December 2012 - Present</span></h2> 
    <p>Designed and developed PICA Manufacturing's website to allow visitors clear and easy access to the company's brand, value propositions and general information. Currently working on creating new landing pages, trade booth designs and generating new customer leads through email marketing, Google Ads/Analytics, and custom landing pages.</p> 
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Website Design &amp; Development</li>
      <li><i class="fa-li fa fa-check-square"></i>User Testing</li>
      <li><i class="fa-li fa fa-check-square"></i>Tradeshow Booth Design</li>
      <li><i class="fa-li fa fa-check-square"></i>Brochure Design
        <i ng-click="loadImage(imageCollection.picaBrochure)" class="fa fa-eye"></i>
      </li>
      <li><i class="fa-li fa fa-check-square"></i>Logo re-design</li>
      <li><i class="fa-li fa fa-check-square"></i>Folder Design
        <i ng-click="loadImage(imageCollection.picaFolder)" class="fa fa-eye"></i>
      </li>
      <li><i class="fa-li fa fa-check-square"></i>Pop-Up Banner design
        <i ng-click="loadImage(imageCollection.picaBanner)" class="fa fa-eye"></i>
      </li>
      <li><i class="fa-li fa fa-check-square"></i>White Paper Template</li>
      <li><i class="fa-li fa fa-check-square"></i>PICA About Video</li>
      <li><i class="fa-li fa fa-check-square"></i>PicaKit Video</li>
      <li><i class="fa-li fa fa-check-square"></i>Mailchimp</li>
      <li><i class="fa-li fa fa-check-square"></i>WuFoo</li>
    </ul>    
  </div>
  <div class="button-wrapper">
    <button class="button-brand button-primary" ng-click="curPage='home'">see more work</button>
  </div>
</div>

<div class="main-home-wrapper default-page-wrapper" ng-show="page('imageView')">
  <div class="work-wrapper image-viewer-wrapper">
    <header>
      <h1>{{currentImageViewer.title}}</h1>
    </header>
    <h2>{{currentImageViewer.subtitle}}</h2>
    <img src="{{currentImageViewer.image}}">
  <div class="button-wrapper">
    <button class="button-brand button-primary" ng-click="curPage=currentImageViewer.link">back</button>
  </div>
</div>