.character-sheet-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  width: 100%;
  padding: 1%;

  form {
    border: solid 1px #777;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 100%;
    width: auto; 

    label {
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
    } 

    div {
      margin: 10px 0;
      width: 100%;
    }

  }

  table {
    width: 100%;
  }

  tr {
    width: 100%;
  }

  td {
    max-width: 100%;

    p {
      font-size: 14px;
      font-weight: bold;
    }

    input {
      width: 100%;
    }
  }
}

.character-traits {
  input[type="number"] {
    width: 50px;
  }
}
