.main-home-wrapper {
}

.work-wrapper {

  .vsnap-work-img-div {
    background-image: url('../assets/tardis.jpeg');
    height: 200px;
    width: 100%;
    background-position: 106px 634px;
  }

  .pica-work-img-div {
    background-image: url('../assets/work/pica_poster_03.jpg');
    height: 200px;
    width: 100%;
    background-position: 50% 39%;
    background-size: 100%;
  }

  .acidotic-work-img-div {
    background-image: url('../assets/work/acidotic_website.png');
    height: 200px;
    width: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
  }

  width: 100%;
  
  header {
    margin: 10px 0 20px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  h1 {
    display: inline-block;
    margin: 0;

    .fa-external-link {
      color: $blue;
      width: 50px;
      text-align: right;
      font-size: 18px;
    }
  }

  h2 {
    display: inline-block;
    margin: 10px 0;    
    vertical-align: middle;
    font-weight: 400;

    i {
      text-align: left;
      width: 30px;
    }

    span {
      font-style: italic;
      font-size: 14px;
    }
  }

  h3 {
    font-weight: 200;
    font-size: 20px;
  }

  li {

    i {
      color: $green;
      text-align: left;
    }
  }

  .side-note {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
  }

  .fa-eye {
    color: $blue;
    cursor: pointer;
  }
}

.image-viewer-wrapper {

  h2 {
    margin: 15px 0;
    text-align: center;
    width: 100%;
    font-weight: 200;
  }

  img {
    margin-left: 3%;
    width: 94%;
  }
}