.main-home-wrapper {

  img {
    display: inline-block;
    width: 30%;
    max-width: 500px;
    margin-right: 19%;
  }

  p {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}