.main-default-wrapper {
  background-image: url('../assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  padding: 70px;
}

.main-content-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  width: 100%;
  padding: 1%;
}