<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10509757_10152277558091298_4135628196989502795_n.jpg?oh=e27abbc1a6a4c78ec71adc228c1ad895&oe=548853F8&__gda__=1419413933_4a72cc346c996ac3e6030bf72a925f8b">
<p>I’m an experienced UX/UI Developer with a passion for creating beautiful websites for companies and individuals. I work quickly, efficiently and always make it a priority to translate gobbledygook Internet jargon into plain English. If I don't know something, I learn it.</p>

 Languages
          HTML5
          CSS3
          Javascript
          PHP
          Angular.js
          jQuery

      Development
        sass
        lint
        karma
        gulp
        MySQL
        Firebase
        Git
       Github

      Programs/Apps
        InvisionApp
        Photoshop
        Illustrator
        Heroku
        Agile Software Development / Jira
        Balsamiq
        Wire-framing
        HI-Res Mockup


Experience

Vsnap - Junior Front-End UX/UI Developer
            
  My first project was to create Vsnap's 'Board-Game Night App' 
  where visitors can register for events:
    Wireframed in Balsamiq
    User tested for UX/UI
    Designed HI-Res mockups in Photoshop
    Developed the app using Angular.js

  Currently I am working on the front-end of 
  Vsnap's app creating pages and user-flows:
    
    Angular.js / NPM / Gulp / Karma / Lint / Bower
    Agile Development - Jira / Slack
    Test-Driven Development

  I was also very lucky to have built a life-size Doctor 
  Who TARDIS to be a quiet space for recording vsnaps and to take phone calls.


Startup Institute - Product &amp; Design

  Selected by Startup Institute in a highly competitive process to attend an intensive training program focused on developing the core skills in product &amp; design to have a meaningful and positive influence on a startup's objectives.

  HTML, CSS, jQuery and Javascript
  Product Management
  Responsive Design
  Organizing a Design Project
  User Centered Design &amp; Whiteboarding
  Wireframing &amp; Rapid Prototyping
  Typography

PICA Manufacturing Solutions - Front-End Web Developer

  Designed and developed PICA Manufacturing's website to allow visitors clear and easy access to the company's brand, value propositions and general information. Currently working on creating new landing pages, trade booth designs and generating new customer leads through email marketing, Google Ads/Analytics, and custom landing pages.

  Website Design &amp; Development
    User Testing
    Tradeshow Booth Design
    Brochure Design
    Logo re-design
    Pop-Up Banner design
    White Paper Template
    PICA About Video
    PicaKit Video
    Mailchimp
    WuFoo

References

  Pascal Delloue - General Manager at Central Midori International

  Steve was originally recommended by my son Guillaume. Steve had just started his company and I thought I would give him a chance. It turns out to be one of my best decisions of the last 2 years. Steve is a very creative, resourceful and a go-getter type individual. As a young entrepreneur he does not count his time nor his energy. We created a website together from scratch, developed the company brochure and various marketing collateral. Currently Steve is helping PICA to design a booth for a major Security trade-show in New York City and we have more projects in the funnel.

  Chris J. Dunn - Owner, acidotic RACING, LLC
    I am happy to provide Stephen with my strongest recommendation for his website development work for us. Not only does he possess a tremendous amount of technical knowledge, but his personable easy-going approach made the creative side so much easier for us. If you're looking for a website developer look no further. Stephen is the guy for the job. 

  Lindsay Shevelow - Customer Service Manager at PICA Manufacturing Solutions
    Stephen is a hard working web designer whom possesses remarkable creativity and talent. With his vast knowledge and innovative design ideas he has helped our company with marketing collaterals and web design. Steve is a punctual yet thorough professional. We at PICA would highly recommend Steve and will continue to use his services in the future.