<div class="home-page-content">
  <p class="bio-summary">I’m an experienced UX/UI Developer with a passion for creating beautiful websites for companies and individuals. I work quickly, efficiently and always make it a priority to translate gobbledygook Internet jargon into plain English. If I don't know something, I learn it.</p>
  <section class="bio-skills-list">
    <article>
      <p>Languages</p>
      <ul>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          HTML5</li>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star empty-star"></i>
          CSS3</li>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star empty-star"></i>
          <i class="fa fa-star empty-star"></i>
          Javascript
        </li>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star empty-star"></i>
          <i class="fa fa-star empty-star"></i>
          PHP
        </li>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star empty-star"></i>
          <i class="fa fa-star empty-star"></i>
          Angular.js</li>
        <li>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star filled-star"></i>
          <i class="fa fa-star empty-star"></i>
          <i class="fa fa-star empty-star"></i>
          jQuery</li>
      </ul>
    </article>
    <article>
      <p>Development</p>
      <ul>
        <li><div class="barchart-wrapper"><div style="width: 80%;"><i class="fa fa-arrow-right"></i></div></div>Sass</li>
        <li><div class="barchart-wrapper"><div style="width: 70%;"><i class="fa fa-arrow-right"></i></div></div>Lint</li>
        <li><div class="barchart-wrapper"><div style="width: 30%;"><i class="fa fa-arrow-right"></i></div></div>Karma</li>
        <li><div class="barchart-wrapper"><div style="width: 70%;"><i class="fa fa-arrow-right"></i></div></div>Gulp</li>
        <li><div class="barchart-wrapper"><div style="width: 60%;"><i class="fa fa-arrow-right"></i></div></div>MySQL</li>
        <li><div class="barchart-wrapper"><div style="width: 60%;"><i class="fa fa-arrow-right"></i></div></div>Firebase</li>
        <li><div class="barchart-wrapper"><div style="width: 80%;"><i class="fa fa-arrow-right"></i></div></div>Git</li>
        <li><div class="barchart-wrapper"><div style="width: 80%;"><i class="fa fa-arrow-right"></i></div></div>Github</li>
      </ul>
    </article>
    <article>
      <p>Programs/Apps</p>
      <ul>
        <li>InvisionApp</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Heroku</li>
        <li>Agile Software Development / Jira</li>
        <li>Balsamiq</li>
        <li>Wire-framing</li>
        <li>HI-Res Mockup</li>
      </ul>
    </article>
  </section>
  <section class="work-experience-wrapper">
    <h1>Experience</h1>
    <article>
      <details>
        <summary>
          <header>
            <h2>Vsnap<i class="fa fa-chevron-right"></i></h2>
            <h1>Junior Front-End UX/UI Developer</h1>
            <img src="assets/vsnap_logo.png" class="logo">
          </header>
        </summary>
        <p>My first project was to create Vsnap's 'Board-Game Night App' 
        where visitors can register for events:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Wireframed in Balsamiq</li>
          <li><i class="fa-li fa fa-check-square"></i>User tested for UX/UI</li>
          <li><i class="fa-li fa fa-check-square"></i>Designed HI-Res mockups in Photoshop</li>
          <li><i class="fa-li fa fa-check-square"></i>Developed the app using Angular.js</li>
        </ul>

        <p>Currently I am working on the front-end of 
        Vsnap's app creating pages and user-flows:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Angular.js / NPM / Gulp / Karma / Lint / Bower</li>
          <li><i class="fa-li fa fa-check-square"></i>Agile Development - Jira / Slack</li>
          <li><i class="fa-li fa fa-check-square"></i>Test-Driven Development</li>
        </ul>

        <p>I was also very lucky to have built a life-size Doctor 
        Who TARDIS to be a quiet space for recording vsnaps and to take phone calls.</p>
      </details>
    </article>
    <article>
      <details>
        <summary>
          <header>
            <h2>Startup Institute<i class="fa fa-chevron-right"></i></h2>
            <h1>Product &amp; Design</h1>
            <img src="assets/startup_logo.png" class="logo">
          </header>
        </summary>
        <p>Selected by Startup Institute in a highly competitive process to attend an intensive training program focused on developing the core skills in product & design to have a meaningful and positive influence on a startup's objectives.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>HTML, CSS, jQuery and Javascript</li>
          <li><i class="fa-li fa fa-check-square"></i>Product Management</li>
          <li><i class="fa-li fa fa-check-square"></i>Responsive Design</li>
          <li><i class="fa-li fa fa-check-square"></i>Organizing a Design Project</li>
          <li><i class="fa-li fa fa-check-square"></i>User Centered Design &amp; Whiteboarding</li>
          <li><i class="fa-li fa fa-check-square"></i>Wireframing &amp; Rapid Prototyping</li>
          <li><i class="fa-li fa fa-check-square"></i>Typography</li>
        </ul>
      </details>
    </article>
    <article>
      <details>
        <summary>
          <header>
            <h2>PICA Manufacturing Solutions<i class="fa fa-chevron-right"></i></h2>
            <h1>Front-End Web Developer</h1>
          </header>
        </summary>
        <p>Designed and developed PICA Manufacturing's website to allow visitors clear and easy access to the company's brand, value propositions and general information. Currently working on creating new landing pages, trade booth designs and generating new customer leads through email marketing, Google Ads/Analytics, and custom landing pages.</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Website Design &amp; Development</li>
          <li><i class="fa-li fa fa-check-square"></i>User Testing</li>
          <li><i class="fa-li fa fa-check-square"></i>Tradeshow Booth Design</li>
          <li><i class="fa-li fa fa-check-square"></i>Brochure Design</li>
          <li><i class="fa-li fa fa-check-square"></i>Logo re-design</li>
          <li><i class="fa-li fa fa-check-square"></i>Pop-Up Banner design</li>
          <li><i class="fa-li fa fa-check-square"></i>White Paper Template</li>
          <li><i class="fa-li fa fa-check-square"></i>PICA About Video</li>
          <li><i class="fa-li fa fa-check-square"></i>PicaKit Video</li>
          <li><i class="fa-li fa fa-check-square"></i>Mailchimp</li>
          <li><i class="fa-li fa fa-check-square"></i>WuFoo</li>
        </ul>
      </details>
    </article>
  </section>
  <section class="testimonials-wrapper">
    <h1>References</h1>
    <article>
      <h1>Pascal Delloue <i class="fa fa-chevron-right"></i></h1>
      <h2>General Manager at Central Midori International</h2>
      <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/000/235/1f8/0340e50.jpg" align="left">
      <p>Steve was originally recommended by my son Guillaume. Steve had just started his company and I thought I would give him a chance. It turns out to be one of my best decisions of the last 2 years. Steve is a very creative, resourceful and a go-getter type individual. As a young entrepreneur he does not count his time nor his energy. We created a website together from scratch, developed the company brochure and various marketing collateral. Currently Steve is helping PICA to design a booth for a major Security trade-show in New York City and we have more projects in the funnel.</p>
    </article>
    <article>
      <h1>Chris J. Dunn <i class="fa fa-chevron-right"></i></h1>
      <h2>Owner, acidotic RACING, LLC</h2>
      <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/03d/18b/3ef9f13.jpg" align="left">
      <p>I am happy to provide Stephen with my strongest recommendation for his website development work for us. Not only does he possess a tremendous amount of technical knowledge, but his personable easy-going approach made the creative side so much easier for us. If you're looking for a website developer look no further. Stephen is the guy for the job. </p>
    </article>
    <article>
      <h1>Lindsay Shevelow <i class="fa fa-chevron-right"></i></h1>
      <h2>Customer Service Manager at PICA Manufacturing Solutions</h2>
      <img src="https://media.licdn.com/media/p/2/000/20e/3e2/0136b7a.jpg" align="left">
      <p>Stephen is a hard working web designer whom possesses remarkable creativity and talent. With his vast knowledge and innovative design ideas he has helped our company with marketing collaterals and web design. Steve is a punctual yet thorough professional. We at PICA would highly recommend Steve and will continue to use his services in the future.</p>
    </article>
  </section>
</div>