<div class="main-navigation">
  <nav>
    <ul>
      <li><i class="fa fa-clipboard"></i> Resume</li>
      <li><i class="fa fa-linkedin-square"></i> LinkedIn</li>
      <li>
        <a href="https://www.twitter.com/theWickedWebDev" target="_blank">
          <i class="fa fa-twitter-square"></i>
          Twitter
        </a>
      </li>
      <li>
        <a href="https://github.com/theWickedWebDev" target="_blank">
          <i class="fa fa-github-square"></i> 
          Github
        </a>
      </li>
    </ul>
  </nav>
  <header>
    <h1>stephen young</h1>
    <h2>Front End UX/UI Developer</h2>
  </header>
</div>