<div class="main-content-wrapper char-classes-wrapper">
  <a ui-sref="default.characterSheet">&gt; back to Character Sheet</a>
  <p>Current Class: {{currentClass}}</p>
  <div ng-repeat="class in classCollection" ng-if="class.name === currentClass">
    <div ng-if="class">
    <h1>{{class.name}}</h1>
    <h2>Alignment</h2>
    <ul ng-repeat="type in class.alignment">
      <li>{{type}}</li>
    </ul>
    <h2>Weapon Proficiency</h2>
    <ul ng-repeat="type in class.weaponProficiency">
      <li>{{type}}</li>
    </ul>
    <h2>Armor Proficiency</h2>
    <ul ng-repeat="type in class.armorProficiency">
      <li>{{type}}</li>
    </ul>
    <h2>unarmed damage</h2>
    <p>{{class.unarmedDamage}}</p>
    <h2>Skill point distribution</h2>
    <ul ng-repeat="type in class.skillPoints">
      <li>{{type}}</li>
    </ul>
    <h2>Hit Die</h2>
    <p>{{class.hpByLevel}}</p>
    <h2>Skill tree</h2>
    <ul ng-repeat="type in class.level.baseAttackbonus">
      <li>{{type}}</li>
    </ul>
  </div>
</div>


