body, html {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(#0f70bf, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0f70bf, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0f70bf, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0f70bf, white);
  /* Standard syntax */ }

.main-navigation header {
  width: 100%; }
  .main-navigation header h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 0; }
  .main-navigation header h2 {
    color: #333333;
    margin: 0;
    text-transform: uppercase; }
.main-navigation nav {
  float: right; }
  .main-navigation nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-navigation nav li {
    border-bottom: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100px; }
  .main-navigation nav li:hover {
    border-bottom: 3px solid #ddd; }
  .main-navigation nav i {
    color: #0f70bf;
    font-size: 3em;
    width: 100%; }
  .main-navigation nav a {
    text-decoration: none;
    color: #333333; }

.resume-page-wrapper {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  border: solid 1px #000; }

.bio-summary {
  color: #999;
  font-weight: 200;
  font-size: .9em;
  margin: 40px 0; }

.bio-skills-list article {
  display: inline-block;
  width: auto;
  vertical-align: top;
  padding: 0 2%;
  min-width: 28%;
  min-height: 350px;
  border: dashed #ccc 1px;
  border-radius: 14px;
  margin-bottom: 4px;
  position: relative; }
.bio-skills-list p {
  color: #0f70bf;
  font-size: 1.4em;
  text-align: center;
  border-bottom: solid 2px;
  padding-bottom: 5px; }
.bio-skills-list ul {
  list-style: none; }
.bio-skills-list li {
  margin: 5px 0; }
  .bio-skills-list li i {
    color: #000;
    font-size: 26px; }
  .bio-skills-list li .fa-star {
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .bio-skills-list li .filled-star {
    color: #eded05; }
  .bio-skills-list li .empty-star {
    color: #fff; }
.bio-skills-list div {
  text-align: center; }

.work-experience-wrapper {
  margin-top: 50px;
  border: dashed 1px #ccc;
  border-radius: 15px;
  width: 94%;
  padding: 20px; }
  .work-experience-wrapper h1 {
    color: #0f70bf;
    font-size: 1.4em;
    text-align: left;
    border-bottom: solid 2px;
    padding-bottom: 5px;
    font-weight: 400; }
  .work-experience-wrapper article {
    margin: 26px 0 40px; }
  .work-experience-wrapper p {
    font-weight: 200; }
  .work-experience-wrapper summary {
    cursor: pointer;
    outline: none; }
  .work-experience-wrapper header {
    display: inline;
    padding: 15px 0;
    width: 100%; }
    .work-experience-wrapper header h1 {
      border: 0;
      display: inline-block;
      font-weight: 200;
      font-size: 1.2em; }
    .work-experience-wrapper header h2 {
      display: inline-block;
      font-size: 1.6em; }
      .work-experience-wrapper header h2 i {
        font-size: .8em;
        width: 30px;
        text-align: center; }
  .work-experience-wrapper .logo {
    max-height: 50px;
    display: none; }

.testimonials-wrapper {
  margin-top: 50px;
  border: dashed 1px #ccc;
  border-radius: 15px;
  width: 94%;
  padding: 20px; }
  .testimonials-wrapper h1 {
    color: #0f70bf;
    font-size: 1.4em;
    text-align: left;
    border-bottom: solid 2px;
    padding-bottom: 5px; }
  .testimonials-wrapper article {
    margin: 40px 0; }
    .testimonials-wrapper article h1 {
      border: 0;
      color: #333333;
      display: inline-block;
      margin: 0; }
      .testimonials-wrapper article h1 i {
        font-size: .8em; }
    .testimonials-wrapper article h2 {
      color: #666666;
      display: inline-block;
      margin: 0;
      font-size: 1em;
      font-weight: 200; }
    .testimonials-wrapper article img {
      width: 100px;
      height: 100px;
      margin: 0 20px 10px 0;
      border-radius: 50px; }

.barchart-wrapper {
  width: 50%;
  background: -webkit-linear-gradient(#cccccc, #999999);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cccccc, #999999);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cccccc, #999999);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cccccc, #999999);
  /* Standard syntax */
  box-shadow: 2px 2px 5px #444;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 10px; }
  .barchart-wrapper div {
    background: -webkit-linear-gradient(#3fe815, #268a0d);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3fe815, #268a0d);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3fe815, #268a0d);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3fe815, #268a0d);
    /* Standard syntax */
    box-shadow: 1px 0 2px #0c2d04;
    height: 26px;
    border-radius: 5px;
    text-align: right; }
    .barchart-wrapper div i {
      color: #8bf271;
      margin-right: 3px;
      font-size: 12px; }
