.button-brand {
  cursor: pointer;
  font-size: 13px;
  padding: 10px 20px;
  text-transform: uppercase; }
  .button-brand i {
    text-align: middle;
    width: 20px; }

.button-blue {
  background-color: #73bcf4;
  border: solid 2px #0f70bf; }

body, html {
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

div, nav, footer, header, section, article, table, tr, td, label, form, ul, li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0;
  padding: 0; }

input[type="number"], input[type="text"], select {
  border: solid 1px #666;
  border-radius: 5px;
  height: 30px;
  padding-left: 4px; }

nav {
  background-color: #b09e6b;
  box-shadow: 0 2px 5px #554a2d;
  padding: 0 20px;
  width: 100%; }
  nav img {
    display: inline-block;
    height: 90px;
    vertical-align: middle; }
  nav p {
    display: inline-block;
    font-size: 24px;
    position: relative;
    top: -6px;
    vertical-align: middle; }

footer {
  background-color: #b09e6b;
  box-shadow: 0 -2px 5px #554a2d;
  padding: 20px;
  width: 100%; }

.character-sheet-wrapper form {
  border: solid 1px #777;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 100%;
  width: auto; }
  .character-sheet-wrapper form label {
    font-size: 14px;
    font-weight: bold;
    display: inline-block; }
  .character-sheet-wrapper form div {
    margin: 10px 0;
    width: 100%; }
.character-sheet-wrapper table {
  width: 100%; }
.character-sheet-wrapper tr {
  width: 100%; }
.character-sheet-wrapper td {
  max-width: 100%; }
  .character-sheet-wrapper td p {
    font-size: 14px;
    font-weight: bold; }
  .character-sheet-wrapper td input {
    width: 100%; }

.character-traits input[type="number"] {
  width: 50px; }

.main-default-wrapper {
  background-image: url('../assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  padding: 70px; }

.main-content-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  width: 100%;
  padding: 1%; }

