.button-brand {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 13px; }
  .button-brand i {
    width: 20px;
    text-align: middle; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.default-page-wrapper {
  max-width: 100%;
  width: 40em;
  margin: 8% auto 8%;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 60px 50px;
  position: relative;
  max-height: 60%;
  box-shadow: 10px 10px 34px;
  z-index: 4; }
  .default-page-wrapper h1 {
    color: #0f70bf;
    font-weight: 200; }
    .default-page-wrapper h1 i {
      width: 40px; }
  .default-page-wrapper h2 {
    font-size: 20px;
    text-align: justify;
    font-weight: 200; }
  .default-page-wrapper .button-wrapper {
    margin: 30px 0 0;
    text-align: center; }

.background-image-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

.cloud-box-wrapper {
  position: absolute;
  width: 300px; }
  .cloud-box-wrapper .cloud-box {
    max-width: 300px;
    height: 100px;
    position: relative; }
    .cloud-box-wrapper .cloud-box div {
      position: absolute;
      background-color: #fff; }
    .cloud-box-wrapper .cloud-box div:first-child {
      width: 80px;
      height: 50px;
      border-radius: 50%;
      top: 3px;
      left: 77px; }
    .cloud-box-wrapper .cloud-box div:nth-child(2) {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      right: 123px;
      top: 0; }
    .cloud-box-wrapper .cloud-box div:nth-child(3) {
      width: 82px;
      height: 50px;
      border-radius: 50%;
      bottom: 0;
      left: 55px; }
    .cloud-box-wrapper .cloud-box div:nth-child(4) {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      right: 81px;
      bottom: 3px; }
    .cloud-box-wrapper .cloud-box div:nth-child(5) {
      width: 169px;
      height: 83px;
      border-radius: 50%;
      left: 50%;
      bottom: 50%;
      margin: -46px -100px; }

.sun-box-wrapper {
  position: absolute; }
  .sun-box-wrapper .sun-box {
    width: 400px;
    height: 400px;
    position: relative; }
    .sun-box-wrapper .sun-box div {
      position: absolute;
      background: -moz-radial-gradient(center, ellipse cover, #f7e64f 4%, #f7e64f 9%, #f7e64f 14%, #f7e64f 15%, #ede98e 16%, #ede98e 18%, rgba(237, 233, 142, 0) 69%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(4%, #f7e64f), color-stop(9%, #f7e64f), color-stop(14%, #f7e64f), color-stop(15%, #f7e64f), color-stop(16%, #ede98e), color-stop(18%, #ede98e), color-stop(69%, rgba(237, 233, 142, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, #f7e64f 4%, #f7e64f 9%, #f7e64f 14%, #f7e64f 15%, #ede98e 16%, #ede98e 18%, rgba(237, 233, 142, 0) 69%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, #f7e64f 4%, #f7e64f 9%, #f7e64f 14%, #f7e64f 15%, #ede98e 16%, #ede98e 18%, rgba(237, 233, 142, 0) 69%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, #f7e64f 4%, #f7e64f 9%, #f7e64f 14%, #f7e64f 15%, #ede98e 16%, #ede98e 18%, rgba(237, 233, 142, 0) 69%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, #f7e64f 4%, #f7e64f 9%, #f7e64f 14%, #f7e64f 15%, #ede98e 16%, #ede98e 18%, rgba(237, 233, 142, 0) 69%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e64f', endColorstr='#00ede98e',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    .sun-box-wrapper .sun-box div:first-child {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.moon-box-wrapper {
  position: absolute; }
  .moon-box-wrapper .moon-box {
    width: 120px;
    height: 120px;
    position: relative; }
    .moon-box-wrapper .moon-box div {
      position: absolute;
      background: -moz-radial-gradient(center, ellipse cover, #e0e0db 43%, #4c4c4a 48%, rgba(76, 76, 74, 0.5) 51%, rgba(135, 135, 130, 0) 54%, rgba(154, 155, 149, 0) 55%, rgba(13, 19, 61, 0) 64%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(43%, #e0e0db), color-stop(48%, #4c4c4a), color-stop(51%, rgba(76, 76, 74, 0.5)), color-stop(54%, rgba(135, 135, 130, 0)), color-stop(55%, rgba(154, 155, 149, 0)), color-stop(64%, rgba(13, 19, 61, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, #e0e0db 43%, #4c4c4a 48%, rgba(76, 76, 74, 0.5) 51%, rgba(135, 135, 130, 0) 54%, rgba(154, 155, 149, 0) 55%, rgba(13, 19, 61, 0) 64%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, #e0e0db 43%, #4c4c4a 48%, rgba(76, 76, 74, 0.5) 51%, rgba(135, 135, 130, 0) 54%, rgba(154, 155, 149, 0) 55%, rgba(13, 19, 61, 0) 64%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, #e0e0db 43%, #4c4c4a 48%, rgba(76, 76, 74, 0.5) 51%, rgba(135, 135, 130, 0) 54%, rgba(154, 155, 149, 0) 55%, rgba(13, 19, 61, 0) 64%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, #e0e0db 43%, #4c4c4a 48%, rgba(76, 76, 74, 0.5) 51%, rgba(135, 135, 130, 0) 54%, rgba(154, 155, 149, 0) 55%, rgba(13, 19, 61, 0) 64%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0db', endColorstr='#000d133d',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    .moon-box-wrapper .moon-box div:first-child {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.cactus-box-wrapper {
  position: fixed;
  z-index: +10; }
  .cactus-box-wrapper .cactus-box {
    position: relative;
    height: 300px;
    width: 170px; }
    .cactus-box-wrapper .cactus-box .cactus-base {
      height: 23px;
      width: 100px;
      margin-left: 35px;
      z-index: +1;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      top: +293px; }
    .cactus-box-wrapper .cactus-box div {
      position: absolute; }
    .cactus-box-wrapper .cactus-box div:first-child {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      top: 30px; }
    .cactus-box-wrapper .cactus-box div:nth-child(2) {
      width: 40px;
      height: 100px;
      top: 50px; }
    .cactus-box-wrapper .cactus-box div:nth-child(3) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      top: 127px; }
    .cactus-box-wrapper .cactus-box div:nth-child(4) {
      width: 80px;
      height: 40px;
      border-radius: 20px;
      top: 128px; }
    .cactus-box-wrapper .cactus-box div:nth-child(5) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      top: 30px;
      right: 0px; }
    .cactus-box-wrapper .cactus-box div:nth-child(6) {
      width: 40px;
      height: 100px;
      top: 50px;
      right: 0; }
    .cactus-box-wrapper .cactus-box div:nth-child(7) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      top: 127px;
      right: 0; }
    .cactus-box-wrapper .cactus-box div:nth-child(8) {
      width: 80px;
      height: 40px;
      border-radius: 20px;
      top: 128px;
      right: 0; }
    .cactus-box-wrapper .cactus-box div:last-child {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      height: 100%;
      width: 50px;
      margin-left: 60px;
      margin-right: 60px; }

.mountain-box-wrapper {
  position: fixed;
  z-index: 1;
  bottom: -30px; }
  .mountain-box-wrapper .mountain-box {
    width: 100%;
    height: 100px;
    position: relative; }
    .mountain-box-wrapper .mountain-box div {
      width: 100%;
      height: 100px;
      position: absolute; }
    .mountain-box-wrapper .mountain-box div:first-child {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.daytime {
  background: -webkit-linear-gradient(#0f70bf, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0f70bf, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0f70bf, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0f70bf, white);
  /* Standard syntax */ }
  .daytime footer {
    background: -webkit-linear-gradient(#f9d36b, #dca409);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f9d36b, #dca409);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f9d36b, #dca409);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f9d36b, #dca409);
    /* Standard syntax */
    box-shadow: 0 -1px 6px #dca409; }
  .daytime .moon-box-wrapper {
    display: none; }
  .daytime .cactus-box .cactus-base {
    background: #c99000;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c99000 0%, #dbb95c 48%, #dbb95c 48%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c99000), color-stop(48%, #dbb95c), color-stop(48%, #dbb95c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c99000 0%, #dbb95c 48%, #dbb95c 48%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c99000 0%, #dbb95c 48%, #dbb95c 48%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c99000 0%, #dbb95c 48%, #dbb95c 48%);
    /* IE10+ */
    background: linear-gradient(to right, #c99000 0%, #dbb95c 48%, #dbb95c 48%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c99000', endColorstr='#dbb95c',GradientType=1 );
    /* IE6-9 */ }
  .daytime .cactus-box div {
    background-color: #a1d54f; }
  .daytime .cactus-box div:last-child {
    background: #7cbc0a;
    /* Old browsers */
    background: -moz-linear-gradient(left, #7cbc0a 4%, #7cbc0a 4%, #7cbc0a 4%, #80c217 10%, #80c217 10%, #80c217 10%, #80c217 15%, #a1d54f 66%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(4%, #7cbc0a), color-stop(4%, #7cbc0a), color-stop(4%, #7cbc0a), color-stop(10%, #80c217), color-stop(10%, #80c217), color-stop(10%, #80c217), color-stop(15%, #80c217), color-stop(66%, #a1d54f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #7cbc0a 4%, #7cbc0a 4%, #7cbc0a 4%, #80c217 10%, #80c217 10%, #80c217 10%, #80c217 15%, #a1d54f 66%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #7cbc0a 4%, #7cbc0a 4%, #7cbc0a 4%, #80c217 10%, #80c217 10%, #80c217 10%, #80c217 15%, #a1d54f 66%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #7cbc0a 4%, #7cbc0a 4%, #7cbc0a 4%, #80c217 10%, #80c217 10%, #80c217 10%, #80c217 15%, #a1d54f 66%);
    /* IE10+ */
    background: linear-gradient(to right, #7cbc0a 4%, #7cbc0a 4%, #7cbc0a 4%, #80c217 10%, #80c217 10%, #80c217 10%, #80c217 15%, #a1d54f 66%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#a1d54f',GradientType=1 );
    /* IE6-9 */ }
  .daytime .mountain-box div {
    background: #f3e2c7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 16%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 102%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3e2c7), color-stop(16%, #c19e67), color-stop(100%, #b68d4c), color-stop(100%, #e9d4b3), color-stop(102%, #b68d4c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3e2c7 0%, #c19e67 16%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 102%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3e2c7 0%, #c19e67 16%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 102%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3e2c7 0%, #c19e67 16%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 102%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f3e2c7 0%, #c19e67 16%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 102%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#b68d4c',GradientType=0 );
    /* IE6-9 */ }

.nighttime {
  background: -webkit-linear-gradient(#1a1d47, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1a1d47, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1a1d47, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1a1d47, black);
  /* Standard syntax */ }
  .nighttime footer {
    background: #818e8a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #818e8a 0%, #5d6b4a 33%, #47490f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818e8a), color-stop(33%, #5d6b4a), color-stop(100%, #47490f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #818e8a 0%, #5d6b4a 33%, #47490f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #818e8a 0%, #5d6b4a 33%, #47490f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #818e8a 0%, #5d6b4a 33%, #47490f 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #818e8a 0%, #5d6b4a 33%, #47490f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#818e8a', endColorstr='#47490f',GradientType=0 );
    /* IE6-9 */ }
  .nighttime .sun-box-wrapper {
    display: none; }
  .nighttime .cactus-box div {
    background: #112406; }
  .nighttime .cactus-base {
    background: #112406; }
  .nighttime .mountain-box div {
    background: #343335;
    /* Old browsers */
    background: -moz-linear-gradient(top, #343335 0%, #383f4f 10%, #383f4f 10%, #0d1216 100%, #d5ebfb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #343335), color-stop(10%, #383f4f), color-stop(10%, #383f4f), color-stop(100%, #0d1216), color-stop(100%, #d5ebfb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343335 0%, #383f4f 10%, #383f4f 10%, #0d1216 100%, #d5ebfb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343335 0%, #383f4f 10%, #383f4f 10%, #0d1216 100%, #d5ebfb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #343335 0%, #383f4f 10%, #383f4f 10%, #0d1216 100%, #d5ebfb 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #343335 0%, #383f4f 10%, #383f4f 10%, #0d1216 100%, #d5ebfb 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343335', endColorstr='#d5ebfb',GradientType=0 );
    /* IE6-9 */ }

.height-keeper {
  width: 100%;
  min-height: 100%; }

nav {
  background: -webkit-linear-gradient(#f9d36b, #dca409);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f9d36b, #dca409);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f9d36b, #dca409);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f9d36b, #dca409);
  /* Standard syntax */
  box-shadow: 0 3px 5px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%; }
  nav ul {
    display: inline-block;
    position: absolute;
    right: 30px;
    font-size: 36px;
    margin: 0;
    top: 9px; }
    nav ul li {
      color: #302402;
      cursor: pointer;
      display: inline-block;
      padding: 0 30px; }
    nav ul li:hover {
      background-color: #f7c53a;
      border-radius: 3px;
      box-shadow: 2px 2px 2px #302402; }
    nav ul li:last-child {
      border: 0; }
  nav header {
    display: inline-block;
    text-transform: uppercase;
    margin: 15px 0 15px 30px; }
    nav header h1 {
      color: #614804;
      margin: 0; }

footer {
  margin-top: 150px;
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: +2; }

.work-wrapper {
  width: 100%; }
  .work-wrapper .vsnap-work-img-div {
    background-image: url("../assets/tardis.jpeg");
    height: 200px;
    width: 100%;
    background-position: 106px 634px; }
  .work-wrapper .pica-work-img-div {
    background-image: url("../assets/work/pica_poster_03.jpg");
    height: 200px;
    width: 100%;
    background-position: 50% 39%;
    background-size: 100%; }
  .work-wrapper header {
    margin: 10px 0 20px;
    border-bottom: 1px solid;
    padding-bottom: 10px; }
  .work-wrapper h1 {
    display: inline-block;
    margin: 0; }
  .work-wrapper h2 {
    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
    font-weight: 400; }
    .work-wrapper h2 i {
      text-align: left;
      width: 30px; }
    .work-wrapper h2 span {
      font-style: italic;
      font-size: 14px; }
  .work-wrapper h3 {
    font-weight: 200;
    font-size: 20px; }
  .work-wrapper li i {
    color: #0f70bf;
    text-align: left; }
  .work-wrapper .side-note {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px; }
  .work-wrapper .fa-eye {
    cursor: pointer; }

.image-viewer-wrapper h2 {
  margin: 15px 0;
  text-align: center;
  width: 100%;
  font-weight: 200; }
.image-viewer-wrapper img {
  margin-left: 3%;
  width: 94%; }
