.button-brand {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 13px; }
  .button-brand i {
    width: 20px;
    text-align: middle; }

.button-blue {
  border: solid 2px #0f70bf;
  background-color: #73baf4; }

body, html {
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

div,
nav,
footer,
header,
section,
article,
ul,
li {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

p {
  margin: 0;
  padding: 0; }

nav {
  background-color: #b09e6b;
  box-shadow: 0 2px 5px #554a2d;
  padding: 0 20px;
  width: 100%; }
  nav img {
    height: 90px;
    display: inline-block;
    vertical-align: middle; }
  nav p {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -6px; }

footer {
  background-color: #b09e6b;
  box-shadow: 0 -2px 5px #554a2d;
  padding: 20px;
  width: 100%; }

.main-default-wrapper {
  background-image: url("../assets/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px; }
