nav {
  background-color: $tan;
  box-shadow: 0 2px 5px darken($tan, 30%);
  padding: 0 20px;
  width: 100%;

  img {
    height: 90px;
    display: inline-block;
    vertical-align: middle;
  }

  p {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -6px;
  }
}